@import url(variable.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding-top: 2em;
    gap: 1em;
}

.button {
    display: inline-block;
    max-width: 20rem;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.shape {
    fill: transparent;
    stroke: var(--accent);
    stroke-dasharray: 120 500;
    stroke-dashoffset: -454;
    stroke-width: 8px;
    transition:
        stroke-width 0.9s,
        stroke-dashoffset 0.9s,
        stroke-dasharray 0.9s;
}

.text {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.3rem;
    color: var(--text-color);
    top: -3rem;
    position: relative;
    pointer-events: none;
    left: 0;
}

.shape:hover {
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

.card{
    padding: 2em;
    background: var(--text-color);
    line-height: 3em;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

img{
    width: 10%;
    height: auto;
    border-radius: 15px;
}
.hobbies{
    background: var(--accent);
    line-height: 3em;
    padding: 1.5em;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}